.left-side-bar {
    float: left;
    top: 5vh;
    position: sticky;
    width: 20%;
    max-width: 250px;
    height: 95vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.forum-list {

}
.active-forum {
    background-color: darkorange;
    font-weight: bolder;
    color: white;
}