.left-side-bar {
    max-width: 250px;
    overflow: hidden;
}
.forum-list {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    }
.active-forum {
    background-color: darkorange;
    font-weight: bolder;
    color: white;
}