@charset "UTF-8";
.thread-view {
  padding-left: 2rem;
  width: 50vw;
  position: relative;
  display: flex;
  flex-direction: column; }

.thread-content {
  background-color: #ceee9e;
  margin-bottom: 25px;
  position: relative;
  overflow-y: auto; }
  .thread-content > .message-sage, .thread-content .message-delete {
    color: red;
    font-weight: bold;
    font-size: 90%; }

.thread-main {
  padding: 20px 0 10px 0; }

.thread-replys {
  background-color: aquamarine;
  border-top: 2px solid red; }
  .thread-replys .thread-reply-item {
    margin-top: 10px;
    border-bottom: 1px solid #ccc; }
  .thread-replys :last-child {
    border-bottom: none; }

.thread-info > span {
  margin: 0 3px 0 3px; }

.thread-info .admin-name {
  color: red;
  font-weight: bold; }
  .thread-info .admin-name::after {
    content: '小会员';
    color: black;
    font-size: 50%;
    font-weight: normal;
    position: relative; }

.thread-info .h-threads-info-fid {
  color: gray;
  font-size: 80%; }

.reply-number {
  color: darkolivegreen;
  font-weight: bold; }

.remain-replys {
  margin-top: 10;
  color: gray; }

.thread-preview {
  background: lightblue;
  border-radius: 5px; }

.thread-page {
  display: flex; }
