.thread-view {
    padding-left: 2rem;
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
}
.thread-content {
    background-color: rgb(206, 238, 158);
    padding: 0 1em;
    padding-top: 1em;
    margin-bottom: 25px;
    border-radius: 3px;
    box-shadow: 10px 7px 10px rgba(128, 128, 128,.5);
    position: relative;
    overflow-y: auto;
    >.message-sage,.message-delete {
        color: red;
        font-weight: bold;
        font-size: 90%;
    }
}
.thread-main {
    padding: 0 1em 1em 1em;
}
.thread-replys {
    background-color: aquamarine;
    border-top: 2px solid red;
    .thread-reply-item {
        margin-top: 10px;
        border-bottom: 1px solid #ccc;
    }
    :last-child {border-bottom: none;}
}
.thread-info {
    padding-bottom: 1em;
    >span {
        margin: 0 3px 0 3px;
    }
    //红名
    .admin-name {
        color: red;
        font-weight: bold;
        &::after {
            content: '小会员';
            color: black;
            font-size: 50%;
            font-weight: normal;
            position: relative;
        }
    }
    //时间线上的板块名
    .h-threads-info-fid {
        color: gray;
        font-size: 80%;
    }
}

.reply-number {
    color: darkolivegreen;
    font-weight: bold;
}

.remain-replys {
    margin-top: 10;
    color: gray;
}
.thread-preview {
    background: lightblue;
    border-radius: 5px;
}

.thread-page {
    position: fixed;
    display: flex;
    top: 5vh;
    right: 30.5%;
    z-index: 1;
    flex-direction: column;
    justify-content: center;

}